.guide {
    padding: 20px 70px;
    font-family: 'Times New Roman';
    overflow: hidden;
}

.guide h1, .guide h2 {
    color: green;
}

.guide img {
    display: block;
    margin: 0 auto;
    transform: scale(0.8);
}

.guide p {
    margin: 0;
}

.guide_2, .guide_6, .guide_7, .guide_8, .guide_9, .guide_10, .guide_11 {
    width: 90%;
}




