.keyboard {
    display: flex;
    width: 1015px;
    flex-wrap: wrap;
    background-color: #e8e8e8;
    justify-content: space-between;
    margin-top: 5vh;
}

.keyboard_key {
    width: 60px;
    height: 60px;
    margin: 4px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-letter="Backspace"], [data-letter="Enter"] {
    width: 120px;
}

[data-letter="Tab"] {
    width: 90px;
}

[data-letter="CapsLock"] {
    width: 128px;
}

[data-letter="Shift"] {
    width: 156px;
}

[data-letter=" "] {
    width: 590px;
}

.pressed {
    background-color: green;
}

.error {
    background-color: red;
}