.modalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

.modalWindow_workspace {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.btn-close-modalWindow {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
}

.btn-close-modalWindow:hover {
    cursor: pointer;
    background-color: orangered;
}
